/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer {
	text-align: center;

	&__wrap {
		background: $color1;
        padding: 28px 0 29px;
        @include sp {
            padding: 20px 0;
        }
	}

	&__social {
		display: block;
        margin: 14px 0 0;
        @include sp {
            margin: 15px 0 0;
        }

		li {
			display: inline-block;
			margin: 0 7px;
		}
	}

	&__copyright {
        font-size: 1rem;
        padding: 20px 0;
        @include sp {
            padding: 12px 0;
        }
    }
}
