/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header {
    text-align: center;
    margin: 0 0 20px;
    &__link {
        display: inline-block;
        img {
            width: 50%;
            @include sp {
                width: 100%;
            }
        }
    }
}