/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container {
    width: 1100px;
    margin: 0 auto;
    @include sp {
        width: 100%;
        padding: 0 calc(25px/2);
    }
}
/*
------------------------------------------------------------*/
.l-main {
    width: 800px;
    @include sp {
        width: 100%;
        padding: 0 calc(25px/2);
    }
}
/*
------------------------------------------------------------*/
.l-side {
    width: 250px;
    @include sp {
        width: 100%;
        padding: 0 calc(25px/2);
    }
}
/*
------------------------------------------------------------*/
body {
    min-width: 1100px;
    @include sp {
        min-width: 320px;
    }
}
