/*------------------------------------------------------------
side
------------------------------------------------------------*/

/* c-side1
------------------------------------------------------------*/
.c-side1 {
	@include sp {
		text-align: center;
	}

	&__ttl1 {
		position: relative;
		user-select: none;

		&.is-active {
			&:after {
				transform: translateY(-50%) rotate(0deg);
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 15px;
			width: 16px;
			height: 11px;
			background: url('/assets/img/common/cou-img-23.png') no-repeat top center/cover;
			transform: translateY(-50%) rotate(180deg);
			visibility: hidden;
			transition: all .3s;

			@include sp {
				visibility: visible;
			}
		}

		h3 {
			font-size: 1.6rem;
			background: $color1;
			color: #fff;
			font-family: 'OratorStd';
			font-weight: normal;
			text-transform: uppercase;
			padding: 10px 0 3px 10px;
		}
	}

	&__list {
		padding: 15px 0;

		@include sp {
			padding: 0;
		}

		a {
			text-decoration: underline;
			font-size: 1.4rem;
			line-height: 3.4rem;
			color: #000;
			padding: 0 10px;

			&:hover {
				text-decoration: none;
				color: $color1;
			}
		}

		li {
			@include sp {
				padding: 3px 0;
			}

			&.is-active {
				a {
					color: $color1;
					text-decoration: none;
				}
			}
		}
	}

	.c-btn1 {
		margin: 0 0 0 10px;

		@include sp {
			margin: 0 auto;
		}
	}
}

/* c-side2
------------------------------------------------------------*/
.c-side2 {
	@include sp {
		text-align: center;
	}

	&__search {
		input {
			width: 100%;
			box-sizing: border-box;
			border-color: #ccc;
			border-style: solid;
			padding: 8px 10px;
			margin: 0 0 20px;

			&::placeholder {
				color: #ccc;
			}
		}
	}

	&__btn {
		float: right;
		margin-bottom: -25px;
		position: relative;
		top: 8px;

		button {
			border: 0;
			background: none;
			padding: 2px 13px;
			cursor: pointer;
		}
	}

	&__list {
		li {
			a {
				display: block;
				font-size: 1.4rem;
				color: #fff;
				background: $color1;
				position: relative;
				padding: 6px 0 5px 10px;
				margin: 0 0 10px;

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					right: 19px;
					width: 10px;
					height: 10px;
					border-width: 0 2px 2px 0;
					border-color: #fff;
					border-style: solid;
					transform: translateY(-50%) rotate(-45deg);
				}
			}

			ul {
				margin: 0 0 16px;

				li {
					a {
						padding: 0 0 0 25px;
						margin: -2px 0 15px;
						background: #fff;
						color: #000;
						text-decoration: underline;

						&:after {
							content: none;
						}
					}
				}
			}
		}
	}
}
