/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/* c-btn1
------------------------------------------------------------*/
.c-btn1 {
	width: 80px;

	a {
		display: block;
		color: #000;
		font-size: 1.2rem;
		font-family: 'OratorStd';
		text-transform: uppercase;
		text-align: center;
		padding: 5px 0 1px;
		border: 1px solid #000;
	}

	&--c1 {
		a {
			color: $color1;
			border-color: $color1;
		}
	}
}
/* c-btn2
------------------------------------------------------------*/
.c-btn2 {
	border: 1px solid #ccc;
	width: 140px;
	margin: 0 auto;
	text-align: center;

	a {
		display: block;
        padding: 13px 0 10px;

		span {
            font-size: 1.2rem;
            font-family: 'OratorStd';
			text-transform: uppercase;
			color: #000;
		}
	}
}
