/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-ttl1 {
	text-align: center;
	position: relative;

	p {
		margin: 10px 0 0;
		font-size: 1rem;
	}

	.c-btn1 {
		position: absolute;
		top: 12px;
		right: 0;
	}
}

/* c-ttl2
------------------------------------------------------------*/
.c-ttl2 {
	h3 {
		font-size: 2.4rem;
		border-width: 1px 0;
		border-color: #ccc;
		border-style: solid;
		padding: 26px 2px 20px;

		@include sp {
			font-size: 1.8rem;
			padding: 15px 0;
		}
	}
}

/* c-ttl3
------------------------------------------------------------*/
.c-ttl3 {
	background: $color1;
	padding: 3px 20px 0px;

	h3 {
		font-size: 2rem;
		color: #fff;
		font-weight: normal;
	}

	&--center {
		text-align: center;
	}

	&--c1 {
		background: #00B900;
	}
}
/* c-ttl4
------------------------------------------------------------*/
.c-ttl4 {
    border-top: 4px solid #f48eb1;
	border-bottom: 4px solid #f48eb1;
	padding: 14px 0 11px;
	h3 {
		font-size: 2.2rem;
		color: $color1;
	}
}
/* c-ttl5
------------------------------------------------------------*/
.c-ttl5 {
	position: relative;
	padding: 5px 40px 4px;
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 7px;
		height: 141%;
		background: $color1;
		transform: translateY(-50%);
	}
	h3 {
		font-size: 2.2rem;
		@include sp {
			font-size: 1.8rem;
		}
	}
}
/* c-ttl6
------------------------------------------------------------*/
.c-ttl6 {
	background: $color1;
	padding: 15px 20px 12px;
	h3 {
		font-size: 2.2rem;
		color: #fff;
		@include sp {
			font-size: 1.8rem;
		}
	}
}
/* c-ttl7
------------------------------------------------------------*/
.c-ttl7 {
	border-bottom: 1px solid #ccc;
	padding: 0 0 5px;
	h3 {
		font-size: 1.6rem;
		@include sp{
			font-size: 1.8rem;
		}
	}
}