/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/* c-navi1
------------------------------------------------------------*/
.c-navi1 {
	border-width: 1px 0;
	border-style: solid;
	border-color: $color1;
	padding: 16px 0 14px;

	&__wrap {
        display: flex;
        justify-content: space-between;
	}

	&__menu {
		li {
			display: inline-block;
			border-left: 1px solid $color1;

			&:last-child {
				border-right: 1px solid $color1;
			}
		}

		a {
			display: block;
			font-size: 1.6rem;
			font-family: 'OratorStd';
			text-transform: uppercase;
			color: $color1;
			padding: 6px 28px 0 34px;
			line-height: 1;
		}
	}

	&__social {
		display: flex;
		align-items: center;

		a {
			display: block;
            margin: 0 9px;
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(2) {
                margin: 0 13px;
            }
		}
	}
}
/* c-navi2
------------------------------------------------------------*/
.c-navi2 {
    display: flex;
    padding: 0 62px;
    justify-content: space-between;
    @include sp {
        padding: 0 31px;
        flex-wrap: wrap;
        justify-content: center;
    }
    li {
        border-right: 1px solid #fff;
        @include sp {
            margin-bottom: 5px;
        }
        &:last-child {
            border-right: none;
        }
    }
    a {
        display: block;
        font-size: 1.2rem;
        color: #fff;
        padding: 0 25px;
        @include sp {
            font-size: 1rem;
            padding: 0 20px;
        }
    }
}