/*------------------------------------------------------------
list
------------------------------------------------------------*/

/* c-list1
------------------------------------------------------------*/
.c-list1 {
	$root: &;
	display: flex;
	justify-content: space-between;

	@include sp {
		flex-wrap: wrap;
	}

	li {
		width: 160px;
		transition: all .3s;

		@include sp {
			width: 49%;
			margin-bottom: 20px;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__box {
		position: relative;

		a {
			display: block;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: url("/assets/img/common/cou-img-21.png") no-repeat top center/contain;
			color: #fff;
			font-size: 1rem;
			width: 51px;
			height: 20px;
			text-align: center;
			line-height: 2rem;
			visibility: hidden;
		}

		&--new {
			&:after {
				content: "NEW";
				visibility: visible;
			}
		}

		&--restock {
			&:after {
				content: "再入荷";
				visibility: visible;
			}
		}
	}

	&__txt {
		font-size: 1.2rem;
		text-align: right;
		color: #000;
		margin: 8px 0 0;

		@include sp {
			font-size: 1rem;
		}
	}

	&.is-no-tag {
		@include sp {
			position: relative;
			border-bottom: 1px solid #000;
		}

		&:after {
			@include sp {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				background: #000;
			}
		}

		li {
			@include sp {
				width: 33.3%;
				margin-bottom: 0;
				border-right: 1px solid #000;
				border-top: 1px solid #000;
			}
		}
	}
}

/* c-list2
------------------------------------------------------------*/
.c-list2 {
	display: flex;
	justify-content: space-between;

	@include sp {
		flex-wrap: wrap;
	}

	li {
		width: 250px;
		transition: all .3s;

		@include sp {
			width: 49%;
			margin-bottom: 20px;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__box {
		a {
			color: #000;
			font-size: 1.2rem;

			@include sp {
				font-size: 1rem;
			}
		}
	}

	&__time {
		display: flex;
		justify-content: space-between;
		margin: 10px 0 5px;

		@include sp {
			padding: 0 10px;
		}

		span {
			background: #beb4a5;
			color: #fff;
			width: 120px;
			height: 17px;
			text-align: center;
			font-size: 1.1rem;
			letter-spacing: 1px;

			@include sp {
				width: 80px;
				font-size: 1rem;
				height: auto;
			}
		}
	}

	&__txt {
		line-height: 2.1rem;

		@include sp {
			line-height: 1.2rem;
			padding: 0 10px;
		}
	}
}

/* c-list3
------------------------------------------------------------*/
.c-list3 {
	display: flex;
	justify-content: space-between;

	@include sp {
		flex-wrap: wrap;
	}

	li {
		@include sp {
			width: 49%;
			margin-bottom: 10px;
		}

		&:first-child {
			@include sp {
				width: 100%;
			}
		}
	}
}

/* c-list4
------------------------------------------------------------*/
.c-list4 {
	display: flex;
	flex-wrap: wrap;
	@include sp{
		justify-content: space-between;
	}

	a {
		color: #000;
	}

	li {
		width: 240px;
		margin-bottom: 70px;
		@include sp {
			margin-bottom: 20px;
		}
		&:not(:nth-child(3n)){
			margin: 0 40px 0 0;
			@include sp {
				margin: 0 0 20px;
			}
		}
		@include sp {
			width: 49%;
		}
	}

	&__box {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: url("/assets/img/common/cou-img-21.png") no-repeat top center/contain;
			color: #fff;
			font-size: 1rem;
			width: 51px;
			height: 20px;
			text-align: center;
			line-height: 2rem;
			visibility: hidden;
		}

		&--new {
			&:after {
				content: "NEW";
				visibility: visible;
			}
		}

		&--restock {
			&:after {
				content: "再入荷";
				visibility: visible;
			}
		}
	}

	&__txt {
		font-size: 1.2rem;
		margin: 10px 0;
		@include sp {
			font-size: 1rem;
		}
	}

	&__price {
		font-size: 1.2rem;
		text-align: right;
		@include sp {
			font-size: 1rem;
		}
	}
}
/* c-list5
------------------------------------------------------------*/
.c-list5 {
	padding: 0 20px;
	margin: 0 0 9px;
	@include sp {
		padding: 0 50px;
		margin: 0 0 30px;
	}
	&__wrap {
		display: flex;
		@include sp {
			flex-wrap: wrap;
		}
	}
	&__region {
		width: 81px;
		text-align: center;
		margin: 0 19px 0 0;
		@include sp {
			width: 100%;
			margin: 0;
		}
		p {
			border: 1px solid $color1;
			font-size: 1.4rem;
			color: $color1;
			line-height: 1;
			padding: 5px 0 0;
		}
	}
	&__store {
		display: flex;
		flex-wrap: wrap;
		padding: 1px 0 0;
		width: calc(100% - 100px);
		@include sp {
			width: 100%;
			text-align: center;
		}
	}
	&__link {
		width: 200px;
		text-decoration: underline;
		font-size: 1.4rem;
		color: #000;
		margin: 0 30px 16px 0;
		transition: none;
		@include sp {
			width: 100%;
			margin: 20px 0 0;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}