/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slide1 {
    .slick {
        &-slide {
            height: 370px;
            margin: 0 8px;
            opacity: .7;
            @include sp{
                margin: 0;
                height: 195px;
            }
            img {
                max-width: 100%;
            }
        }
        &-active {
            opacity: 1;
        }
        &-prev {
            left: 142px;
            width: 50px;
            height: 50px;
            background: $color1;
            z-index: 1;
            &:before {
                content: '';
                border-width: 0 2px 2px 0;
                border-style: solid;
                border-color: #fff;
                width: 40%;
                height: 40%;
                position: absolute;
                top: 50%;
                left: 60%;
                transform: translate(-50%,-50%) rotate(135deg);
            }
            &:hover,
            &:focus {
                background: $color1;
            }
        }
        &-next {
            right: 142px;
            width: 50px;
            height: 50px;
            background: $color1;
            z-index: 1;
            &:before {
                content: '';
                border-width: 0 2px 2px 0;
                border-style: solid;
                border-color: #fff;
                width: 40%;
                height: 40%;
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translate(-50%,-50%) rotate(-45deg);
            }
            &:hover,
            &:focus {
                background: $color1;
            }
        }
        &-dots {
            bottom: -30px;
            @include sp {
                bottom: -24px;
            }
            li {
                width: 5px;
                height: 5px;
                margin: 0 10px;
                button:before {
                    border: 1px solid #f48eb1;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    color: transparent;
                }
            }
            li.slick-active {
                button:before {
                    opacity: 1;
                    background: #f48eb1;
                    color: transparent;
                }
            }
        }
    }
    &__item {
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}