/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-time1 {
	display: flex;
	align-items: end;

	time {
		font-size: 1.2rem;
		margin: 0 45px 0 0;
	}

	span {
		margin: -4px 0 0;
		line-height: 1;
		padding: 2px 0;
	}
}

/*
------------------------------------------------------------*/
.c-tag1 {
	width: 120px;
	text-align: center;
	background: #BEB4A5;
	color: #fff;

	span {
		font-size: 1.2rem;
	}

	&--c1 {
		background: $color1;
	}
}

/*
------------------------------------------------------------*/
.c-box1 {
	margin: 0 50px 25px;
	border-top: 1px solid;
	padding: 30px 0 0;
	$root: &;

	@include sp {
		margin: 0 0 25px;
	}

	&:first-child {
		border: none;
	}

	&:last-child {
		border-bottom: 1px solid;

		#{$root}__answer {
			padding-bottom: 30px;
		}
	}

	&__question,
	&__answer {
		display: flex;
		margin-bottom: 15px;
		padding: 0 60px 0 0;
	}

	&__answer {
		margin: 0;

		#{$root}__txt {
			@include sp {
				font-size: 1.2rem;
			}
		}
	}

	&__question {
		position: relative;
		cursor: pointer;
		font-weight: bold;

		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 45%;
			width: 2px;
			height: 14px;
			background: $color1;
			border-radius: 30px;
			right: 30px;

			@include sp {
				right: 10px;
			}
		}

		&:after {
			transform: rotate(45deg) translateY(-50%);
		}

		&:before {
			transform: rotate(-45deg) translateY(-50%);
		}

		&.is-active {
			&:after {
				height: 28px;
				top: 23%;
				transform: rotate(45deg) translateY(-35%);
				right: 37px;

				@include sp {
					right: 16px;
				}
			}

			&:before {
				height: 28px;
				right: 23px;
				top: 23%;
				transform: rotate(-45deg) translateY(-35%);

				@include sp {
					right: 3px;
				}
			}
		}
	}

	&__img {
		width: 50px;
	}

	&__txt {
		font-size: 1.4rem;
		padding: 4px 0 0;
		width: calc(100% - 50px);

		@include sp {
			font-size: 1.5rem;
			padding: 0;
		}
	}
}

/* c-box2
------------------------------------------------------------*/
.c-box2 {
	width: 420px;

	@include sp {
		width: 100%;
		margin-bottom: 50px;
	}

	&__ttl {
		border-top: 1px solid $color1;
		border-bottom: 1px solid $color1;
		text-align: center;
		padding: 13px 0 6px;
		margin: 0 0 25px;

		@include sp {
			padding: 8px 0 3px;
			margin: 0 0 30px;
			position: relative;
		}

		span {
			position: relative;
			font-size: 2rem;
			color: $color1;
			font-weight: bold;

			@include sp {
				font-size: 1.8rem;
				position: initial;
			}

			img {
				position: absolute;
				top: -35px;
				left: -147px;

				@include sp {
					left: -3px;
					top: -22px;
				}
			}
		}
	}

	&__txt1 {
		font-size: 1.6rem;
		text-align: center;
		margin: 0 0 19px;
		font-weight: bold;

		@include sp {
			font-size: 1.5rem;
			margin: 0 0 30px;
		}
	}

	&__img {
		text-align: center;
		margin: 0 0 27px;

		@include sp {
			margin: 0 0 30px;
		}
	}

	&__txt2 {
		p {
			font-size: 1.4rem;
			text-align: justify;
			line-height: 2.4rem;
		}
	}
}

/* c-box3
------------------------------------------------------------*/
.c-box3 {
	$root: &;
	width: 420px;
	text-align: center;

	@include sp {
		width: 100%;
		margin-bottom: 50px;
	}

	&__ttl {
		border-top: 1px solid $color1;
		border-bottom: 1px solid $color1;
		text-align: center;
		padding: 9px 0 6px;
		margin: 0 0 32px;

		@include sp {
			padding: 12px 0 9px;
			margin: 0 0 30px;
		}

		p {
			font-size: 1.6rem;
			font-weight: bold;
			color: $color1;

			@include sp {
				font-size: 1.8rem;
			}
		}
	}

	&__txt1 {
		p {
			font-size: 1.4rem;
			margin: 0 0 5px;
		}

		span {
			font-size: 2rem;
			font-weight: bold;
			color: #00B900;
		}
	}

	&__imgText {
		display: flex;
		justify-content: space-around;
		padding: 0 61px 0 58px;
		margin: 0 0 29px;

		@include sp {
			margin: 0 0 30px;
			padding: 0 31px 0 29px;
		}

		#{$root}__txt1 {
			margin: 14px 0 0;
		}
	}

	&__txt2 {
		p {
			text-align: left;
			font-size: 1.4rem;
			line-height: 2.4rem;
		}
	}
}

/* c-thumbnail1
------------------------------------------------------------*/
.c-thumbnail1 {
	&__wrap {
		width: 500px;
		display: flex;
		flex-wrap: wrap;
		@include sp {
			width: 100%;
		}
	}
	&__img1 {
		width: 100%;
		height: 500px;
		background-color: #cccccc;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@include sp {
			height: 100%;
			min-height: 350px;
		}
	}
	&__gallery {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@include sp {
			// margin-left: -10px;
		}
	}
	&__img2 {
		width: 100%;
		height: 100%;
		background-color: #cccccc;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&__link {
		display: block;
		width: 110px;
		height: 110px;
		margin: 20px 0 0;
		@include sp {
			margin: 10px 12px 0  0;
			flex: calc((100%/6) - 10px);
			height: 50px;
			max-width: calc((100%/6) - 10px);
		}
		&:not(:nth-child(4n)){
			margin-right: 20px;
			@include sp {
				margin-right: 12px;
			}
		}
		&:nth-child(6n){
			@include sp {
				margin-right: 0;
			}
		}

	}
}